/* Set background color animation */
/* Gradient background animation */
@keyframes gradientBackground {
  0% {
    background: linear-gradient(125deg, #F9CEDC 0%, #fad0c4 100%);
  }
  35% {
    background: linear-gradient(25deg, #E4E4F5 0%, #fbc2eb 100%);
  }
  50% {
    background: linear-gradient(25deg, #fad0c4 0%, #ffd1ff 100%);
  }
  75% {
    background: linear-gradient(25deg, #CEE9F9 0%, #fbc2eb 100%);
  }
  100% {
    background: linear-gradient(65deg, #E8EEC5 0%, #fad0c4 100%);
  }
}


/* Apply background color animation to the body */
body {
  animation: gradientBackground 30s linear infinite;
  font-family: Georgia, serif;
  font-weight: 500;
}

/* Style center-aligned text */
.center-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-family: fraunces;
}

/* Style colored boxes */
.box {
  width: 89%;
  height: 35%;
  padding: 20px;
  background-color: #3F51B5;
  color: #FFFFFF;
  margin-bottom: 50px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
